/* Importing Inria Serif Font */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');

:root {
  --black: #362a2a;
  --orange: #fa7436;
  --white: #f6f6f6;
  --gray: #757575;
  --light-gray: #e3e3e3;
  --space-from-left: 8rem;
}

/* -------------------------- */
/*          Reset             */
/* -------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
}

/* ----------------------------- */
/*            body               */
/* ----------------------------- */
body {
  font-family: sans-serif;
  background-color: var(--white);
  overflow-x: hidden;
}

/* ---------------------------- */
/*            header            */
/* ---------------------------- */
#header {
  padding: 2.5rem var(--space-from-left);
  display: flex;
  gap: 120px;
  align-items: center;
}
#nav-bar ul {
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  gap: 80px;
}

/* ---------------------------- */
/*        hero section          */
/* ---------------------------- */
section#hero {
  width: calc(100vw - var(--space-from-left));
  padding: 2rem 0;
  padding-left: var(--space-from-left);
  display: flex;
  justify-content: space-between;
}
#hero-text {
  width: 400px;
  padding-top: 50px;
}
/* brand name */
#hero-text #brand-name {
  font-size: 4rem;
}
/* shoe name */
#hero-text #shoe-name {
  font-size: 6.5rem;
  font-weight: 100;
  color: var(--orange);
}
/* text */
#hero-text p {
  padding-top: 20px;
  line-height: 1.8;
  color: var(--gray);
  text-align: justify;
  font-size: 1rem;
}
/* buy */
#hero-text #buy {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* price */
#hero-text #buy #price {
  font-size: 2.2rem;
  font-weight: 100;
}
/* add to cart button */
#hero-text #buy button {
  font-size: 0.9rem;
  width: 40%;
  height: 45px;
  background-color: var(--white);
  box-shadow: 5px 4px 2px var(--gray);
  border: 1px solid var(--gray);
  border-radius: 50px;
}
#hero-text #buy button:hover {
  box-shadow: 2px 3px 2px var(--light-gray);
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
  font-size: 0.9rem;
  transition: 300ms ease;
}
#hero-img {
  width: 40vw;
  height: fit-content;
}

/* ---------------------------- */
/*       end hero section       */
/* ---------------------------- */

/* --------------------------- */
/*      showcase section       */
/* --------------------------- */
#showcase {
  padding: 8rem var(--space-from-left);
  padding-left: var(--space-from-left);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 120px;
}
.card {
  width: 160px;
  height: 100px;
  min-width: 150px;
  box-shadow: 10px 10px 10px var(--light-gray);
  border: 1px solid #cecece;
  border-radius: 8px;
}
/* image of card */
.card img {
  width: 200px;
  margin-left: -30px;
  margin-top: -100px;
}
/* information container */
.card .info {
  margin-top: -15px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* title of product */
.card .title {
  font-size: 0.8rem;
  width: 60px;
}
/* price of product */
.card .price {
  font-size: 0.8rem;
  font-weight: bold;
}
/* add to cart button */
.card button {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.6rem;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 140px;
}
/* --------------------------- */
/*    end showcase section     */
/* --------------------------- */

/* -------------------------- */
/*          footer            */
/* -------------------------- */
/* newsletter */
footer #newsletter {
  width: 100vw;
  padding: 80px 0;
  text-align: center;
  font-size: 1.5rem;
}
footer #newsletter form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer #newsletter form input[type='email'] {
  font-size: 1.5rem;
  width: 35vw;
  margin: auto;
  padding: 10px 20px;
}
footer #newsletter form input[type='submit'] {
  background-color: var(--orange);
  color: var(--white);
  font-size: 1.2rem;
  border: 1px solid var(--gray);
  border-radius: 0 3px 3px 0;
  height: 52px;
  padding: 10px 30px;
  position: relative;
  bottom: 2px;
  left: -10px;
}
footer p {
  padding: 10px 0;
  padding-left: var(--space-from-left);
  color: var(--gray);
}

/* -------------------- */
/*        General       */
/* -------------------- */
hr {
  width: 100vw;
  height: 1px;
  background-color: var(--light-gray);
  border: none;
}
a {
  color: var(--black);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
fieldset {
  border: none;
}

/* -------------------------- */
/*      responsive code       */
/* -------------------------- */
@media (max-width: 1064px) {
  #brand-name {
    font-size: 3rem !important;
  }
  #shoe-name {
    font-size: 5rem !important;
  }
}
@media (max-width: 980px) {
  :root {
    --space-from-left: 3rem;
  }
  #hero-text {
    width: 300px;
  }
  #hero-img {
    width: 550px;
  }
  #buy #price {
    font-size: 1.5rem !important;
  }
  #buy button {
    font-size: 0.6rem !important;
    height: 30px !important;
    width: 30% !important;
  }
}
